<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>593252913891-kqfddggu3a764q42ei1pavicepmtk8rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593252913891-kqfddggu3a764q42ei1pavicepmtk8rc</string>
	<key>API_KEY</key>
	<string>AIzaSyDeNQktWTQRBT5x0PY0csvWQp0CQyYM2RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>593252913891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Difeng-Chen.Termi</string>
	<key>PROJECT_ID</key>
	<string>termi-946f4</string>
	<key>STORAGE_BUCKET</key>
	<string>termi-946f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593252913891:ios:8c1fb1f4d1c12881</string>
	<key>DATABASE_URL</key>
	<string>https://termi-946f4.firebaseio.com</string>
</dict>
</plist>